body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

.header {
  padding: 80px;
  text-align: center;
  background: #fafafa;
  color: #001a35;
}

.header p {
  width: 50%;
  margin: 20px auto 30px;
  font-size: 18px;
}

.header .btn {
  padding: 8px 30px;
}

.header .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0px;
}

.navbar {
  background: #0062cc !important;
  -webkit-box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.5) !important;
}

.navbar .navbar-collapse {
  background: #007bff;
  border: 1px dashed #f8f9fa;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 20px 20px;
  font-size: 15px;
  color: #eff6ff;
}

.item-container .left-container h4 {
  color: #eff6ff;
  margin: 50px 0 20px;
}

.item-container .left-container p {
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.item-container {
  background-color: #0062cc;
  width: 100%;
  height: 1500px;
}

.item-container .left-container {
  height: 300px;
  margin-top: 50px;
  font-size: 40px;
}

@media screen and (max-width: 576px) {
  .item-container .left-container {
    height: 100%;
  }
}

.item-container .left-container h4 small {
  font-size: 12px;
}

.item-container .left-container .img-container1, .item-container .left-container .img-container2, .item-container .left-container .img-container3 {
  width: 100%;
  height: 551px;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  -webkit-transition: 5s;
  transition: 5s;
  outline: 0.5px dashed #fff;
  outline-offset: 2px;
  margin-top: 15px;
}

.item-container .left-container .img-container1:hover, .item-container .left-container .img-container2:hover, .item-container .left-container .img-container3:hover {
  background-position: bottom;
}

.item-container .left-container .img-container1 img, .item-container .left-container .img-container2 img, .item-container .left-container .img-container3 img {
  width: 100%;
  border: 1px dashed #fff;
}

.item-container .left-container .img-container1 {
  background-image: url(../images/Desktop-View2.png);
}

.item-container .left-container .img-container2 {
  height: 582px;
  background-image: url(../images/iPad-View.png);
}

.item-container .left-container .img-container3 {
  height: 582px;
  background-image: url(../images/iPhone-5-view.png);
}

.item-container .right-container .skills, .item-container .right-container .important-points {
  padding: 20px;
  background: #f8f9fa;
}

.item-container .right-container {
  height: 400px;
  margin-top: 100px;
}

.item-container .right-container h5 {
  color: #f8f9fa;
  margin-bottom: 15px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.item-container .right-container .skills .fa-html5, .item-container .right-container .skills .fa-sass, .item-container .right-container .skills .fa-js, .item-container .right-container .skills .fa-bootstrap, .item-container .right-container .skills .fa-grunt, .item-container .right-container .skills .fa-github-square {
  font-size: 45px;
}

.item-container .right-container .skills .fa-html5 {
  color: #dd512a;
}

.item-container .right-container .skills .fa-sass {
  color: #cd6699;
}

.item-container .right-container .skills .fa-js {
  color: #e4ba42;
}

.item-container .right-container .skills .fa-bootstrap {
  color: #6d3ab8;
}

.item-container .right-container .skills .fa-grunt {
  color: #e78724;
}

.item-container .right-container .skills .fa-github-square {
  color: #171515;
}

.item-container .right-container .important-points ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-container .right-container .important-points ul li {
  font-size: 13px;
  margin: 18px 0;
  color: #00060c;
}

.item-container .right-container .important-points ul li span {
  width: 10px;
  height: 10px;
  border: 2px solid #007bff;
  background-color: transparent;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

.item-container .right-container .page-speed-test img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */